.hero-unit {
  color: #FFFFFF;
  background: linear-gradient(45deg, #0D0402 0%, #863211 100%) repeat scroll 0 0 transparent;
}

.hero-unit > a {
  color: rgba(255,255,255,0.5);
  transition: all 0.2s ease-in-out 0s;
}
